{% extends "layout.html" %}
{% block content %}
    {# Hero Section #}
    <div class="px-4 pt-5 my-5 text-center border-bottom">
        <h1 class="display-4 fw-bold text-body-emphasis">Unlocking Text from Images: Empowering Your Data with Precision OCR Solutions</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">Welcome to our cutting-edge OCR service – Transforming images into actionable insights with unbeatable accuracy and speed!</p>

            <form action="/p" class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5" method="post" enctype="multipart/form-data">
                {{ form.hidden_tag() }}

                {{ form.image() }}
                {{ form.submit(class="btn btn-outline-primary") }}

            </form>

        </div>
    </div>

{# Example Image Section #}
    <div class="overflow-hidden" style="max-height:60vh;margin-bottom: 10vh;">
        <div class="container px-5">
            <img src="{{ url_for('static', filename='images/Screenshot (51).png') }}" class="img-fluid border rounded-3 shadow-lg mb-4 d-block m-auto" alt="Example image" width="700" height="500" loading="lazy">
        </div>
    </div>

{% endblock %}